body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "mondwest" !important;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@font-face {
  font-family: neuebit ;
  src: url('/public/fonts/Neuebit-Full/PPNeueBit-Regular.ttf');
}

@font-face {
  font-family: mondwest !important;
  src: url('/public/fonts/Mondwest-Full/PPMondwest-Regular.ttf');
}

.mondwest{
  font-family: mondwest !important;
}

.neuebit{
  font-family: neuebit !important;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
